/*
*
*	Extra styles for Summit
*	Depends on
*	core-reset.css
*	core-grid.css
*	core.css
*
*/


#top-nav { 
    font-size:11px; 
    margin:0 auto; 
    line-height: 2em; 
    height: 22px;
}


.top-nav-item { 
    display:inline-block; 
    margin-right: 14px; 
    line-height:2em; 
}

#top-login { 
    display:inline-block; 
    margin-right:15px; 
    float:right;
}

.top-login-item { 
    display:inline-block; 
    padding:0 8px; 
    line-height:2em; 
}

#top-nav { 
    background-color:#ffffff; 
}

.top-nav-item, .top-nav-item:visited { 
    color:#333333; 
}

.top-nav-item:hover { 
    text-decoration: underline; 
}

.top-login-item { 
    color:#dd4814; 
}

.top-login-item:hover { 
    text-decoration: underline; 
}

.alone, .leading, .aggregator {
    border-radius: 8px;
    float: left;
    /*padding: 10px;*/
}

 .alone, .leading, .aggregator /* progressive */ {
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
 }
 
table.basic thead th, table.basic thead a {
    font-weight:bold;
}

table.basic thead a , table.basic tfoot a {
    text-decoration:underline;
}

table.basic {
    max-width:542px;
    text-align:left;
    padding:0 8px;
    margin:20px auto;
}

table.basic.wide {
    width:100%;
}

table.basic td, table.basic th {
    padding:4px 8px;
}

table.basic thead { 
    background-color:#aea79f;
}

table.basic tfoot, table.basic tr.subsection {
    background-color:#dfdcd9;
}

table.basic tbody tr {
    border-bottom:1px dotted #cccccc;
}

table.basic thead th {
    color:#ffffff;
}

table.basic tfoot td, table.basic tbody td {
    color:#333333;
}

table.basic thead a {
    color:#ffffff;
}

table.basic tfoot a {
    color:#333333;
}

table.basic tbody a {
    color:#dd4814;
}

.action-links {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #efefef;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	border-radius: 4px;
}


/* Forms */

/* -  Form Decoration [Django]
--------------------------------------------------------------------------------------------------------
*/

.form-item-label {
    font-size: 0.75em;
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
    text-align: left;
    white-space: nowrap;
}

.form-item-value {
    font-size: 0.75em;
    font-weight: normal;
    text-align: left;
}

.form-item-field {
    background-color: #f0f0f0;
    border: 1px solid #CCCCCC;
    height: 16px;
    margin: 7px 0px 7px 9px;
    padding: 3px;
    width: 180px;
}

.form-item-field:focus {
    background-color: #f7f7f7;
    border: 1px solid #DD4814;
}

/* Form Layout */

form ul.errorlist { 
    display: inline-block;
    line-height: 1em;
    vertical-align: top;
}

form .error {
    width: 184px; /* 224 - 30 */
    height: 20px;
    display: inline-block;
    padding-left: 30px;
    line-height: 1em;
    vertical-align: top;
    padding-top: 4px;
    background-image: url('../images/error.png');
    background-repeat: no-repeat;
}

form .help {
    position: absolute;
    z-index: 10;
    right: 16px;
    width: 20px;
    background-image: url('../images/help.png');
    background-repeat: no-repeat;
}

form .smalltext {
    color: #333333;
}

label {
    display: block;
    margin-bottom: 4px;
    color: #333333;
}

label.inline {
    display: inline-block;
    vertical-align: middle;
}

label.required:after {
    color: #DD4814;
    content: " *";
}

legend {
    width: 100%;
    position: relative;
    padding: 8px;
    margin: 0 -8px;
    font-size: 16px;
    line-height: 1.3;
    border-bottom: 1px dotted #DFDCD9;
    margin-bottom: 9px;
    padding-bottom: 10px;
}

legend span.supporting {
    position: absolute;
    right: 8px;
    color: #ffffff;
}

legend span.supporting:before {
    color: #DD4814;
    content: "* ";
}

fieldset {
    position: relative;
    margin-bottom: 16px;
    padding: 8px;
    background-color: #dfdcd9;
}

input[type="text"], input[type="password"], select, textarea {
    width: 286px;
    height: 20px;
    margin-right: 16px;
    margin-bottom: 8px;
    color: #333333;
    border: 1px solid #ccc1c1;
    background-color: white;
}

textarea, select[multiple="multiple"] {
    min-width: 286px;
    max-width: 286px;
    min-height: 20px;
    height: 100px;
}

input[type="checkbox"], input[type="radio"] {
    margin-top: 0px;
    margin-bottom: 8px;
}

input[type="text"]:focus, input[type="password"]:focus {
    width: 284px;
    height: 18px;
    border: 2px solid #dd4814;
    color: #333333;
}

input[type="text"].small, input[type="password"].small, select.small {
    width: 134px;
}

input[type="text"].small:focus, input[type="password"].small:focus, select.small:focus {
    width: 132px;
}

input[type="submit"]:hover {
    background-color: #b83a0f;
}

input[type="submit"]:active {
    background-color: #962d0c;
}

input[type="submit"][disabled="disabled"], input[type="submit"][disabled="disabled"]:hover { 
    background-color:#AEA79F;
    text-shadow: none;
}

select:focus {
    border: 2px solid #dd4814;
    color: #333333;
}

input[type="text"].error, input[type="password"].error, select.error {
    border: 2px solid #dd4814;
    color: #dd4814;
}
