{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}

{% block share_meta_title %}{% trans page.meta_title %}{% endblock %}
{% block share_meta_title1 %}{% trans page.meta_title %}{% endblock %}
{% block meta_title %}{% trans page.meta_title %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{% trans page.description %}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{% trans page.title %}{% endeditable %}
{% endblock %}

{% block main %}
{% endblock %}
