{% load i18n %}
{% for field in form.visible_fields %}
	<div>
		{% if field.field.label %}<label for="id_{{ field.name }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}</label>{% endif %}
		{{ field }}
		{% if field.help_text %}<span class="help" rel="help" title="{{ field.help_text }} {% if field.field.required %}({% trans "Required" %}){% endif %}">&nbsp;</span>{% endif %}
		{% if field.errors %}
		    <ul class="errorlist">
		    {% for error in field.errors %}
		        <li class="error">{{ error }}</li>
		    {% endfor %}
		    </ul>
	    {% endif %}
	</div>
{% endfor %}
{% for field in form.hidden_fields %}
	    <div class="hidden">{{ field }}</div>
{% endfor %}
