{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block defaulthead %}{% block defaultmeta %}<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1" />{% endblock %}
  {% block extrameta %}{% endblock %}
  <title>{% block title %}Ubuntu Website{% endblock %}</title>

  {% block defaultstyles %}<link rel="shortcut icon" href="//assets.ubuntu.com/sites/community-themes/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Ubuntu" />
  <link rel="stylesheet" type="text/css" href="{% static "ubuntu_website/css/core-reset.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "ubuntu_website/css/core-grid.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "ubuntu_website/css/core.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "ubuntu_website/css/extra_styles.css" %}" />{% endblock %}
  {%block extrastyles %}{% endblock %}

  {% block defaultheadjs %}<script src="{% static "ubuntu_website/js/modernizr.min.js" %}"></script>
  <script src="//code.jquery.com/jquery-1.7.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static "ubuntu_website/js/jquery-1.7.2.min.js" %}"><\/script>')</script>
  <script>var website_assets="{% static "ubuntu_website" %}";</script>{% endblock %}
  <!--block extraheadjs left out by design, add other JS files to the loader.js script for async loading,
      this is done and by design, if you MUST add a <script> tag do so in the closure block and test to ensure
      no breakage has been caused, also avoid inline CSS and JS when possible, use {% static "ubuntu_website/css/site.css" %}
      or {% static "ubuntu_website/js/site.js" %} so it correct headers are sent and can be cached properly by broswers-->
  {% endblock %}{% block extrahead %}{% endblock %}
{% load analytics %}
{% analytics %}
</head>
<body>
    <div class="wrapper">

        {% if not is_popup %}
            {% block top_nav %}
                <aside id="top-nav">
                    <div class="container">
                        <section id="top-login">
                            {% block top_nav_login_links %}
                                <!--<a class="top-login-item" href="javascript:void(0)">Login</a>-->
                                Logged in as:
                                <a class="top-login-item" href="javascript:void(0)">Username</a>
                                <span class="top-login-separator">|</span>
                                <a class="top-login-item" href="javascript:void(0)">Favorites</a>
                                <span class="top-login-separator">|</span>
                                <a class="top-login-item" href="javascript:void(0)">Logout</a>
                            {% endblock %}
                        </section>
                    </div>
                </aside>
            {% endblock %}

            <header>
                <nav role="navigation" class="nav-primary">
                    {% block main_nav_links %}
                        <ul class="clearfix">
                            <li class="active"><a class="main-nav-item" href="javascript:void(0)" title="Item 1">Page 1</a></li>
                            <li><a class="main-nav-item" href="javascript:void(0)" title="Item 2">Page 2</a></li>
                            <li><a class="main-nav-item" href="javascript:void(0)" title="Item 3">Peage Long Name 3</a></li>
                            <li><a class="main-nav-item" href="javascript:void(0)" title="Item 4">Page Shorter 4</a></li>
                            <li><a class="main-nav-item" href="javascript:void(0)" title="Item 5">Page 5</a></li>
                        </ul>
                    {% endblock %}
                </nav>
                <a class="logo-ubuntu" href="{% block logo_href %}/{% endblock %}">
                    <img width="118" height="27" src="{% static "ubuntu_website/images/logo-header.png" %}" alt="Ubuntu logo"/>
                </a>
                <h2 class="header-text"><a href="{% block logo_text_href %}/{% endblock %}">{% block logo_text %}Country Loco Team{% endblock %}</a></h2>
            </header>

            <div class="inner-wrapper">
                {% block sub_nav %}
                    <nav role="navigation" class="nav-secondary">
                        <ul class="clearfix">
                            {% block sub_nav_links %}
                                <li class="active"><a class="sub-nav-item" href="javascript:void(0)" title="Indice">Indice</a></li>
                                <li><a class="sub-nav-item" href="javascript:void(0)" title="FAQ">FAQ</a></li>
                                <li><a class="sub-nav-item" href="javascript:void(0)" title="Regolamento">Regolamento</a></li>
                                <li><a class="sub-nav-item" href="javascript:void(0)" title="Ricerca">Ricerca</a></li>
                                <li><a class="sub-nav-item" href="javascript:void(0)" title="Accedi">Accedi</a></li>
                                <li><a class="sub-nav-item" href="javascript:void(0)" title="Registrati">Registrati</a></li>
                            {% endblock %}
                        </ul>
                    </nav>
                    <!--{% block search %}
                        <section id="searchbox-container">
                	        {% block search_box %}
                                <input name="search" id="searchbox" value="Search..." />
                            {% endblock %}
                        </section>
                    {% endblock %}-->
                {% endblock %}
        {% endif %}

        {% block messages %}{% endblock %}

        {% block content %}{% endblock %}

        {% block general %}{% endblock %}


        </div><!-- div.inner-wrapper -->

        {% if not is_popup %}

        <footer class="clear">
            <div class="container">
                <a class="logo-ubuntu" href="/">
                    <img width="118" height="27" src="{% static "ubuntu_website/images/logo-footer.png" %}" alt="Ubuntu logo"/>
                </a>

               {% block footer %}

                <!-- 1st Col   -->
                <dl class="footer-content">
                    {% block footer_list_1 %}
                        <dt>
                                Notes
                        </dt>
                        <dd>
                                <ul class="footer-links">
                                        <li class="footer-item"> <a class="footer-link" href="#" title="dumb">Privacy</a> </li>
                                        <li class="footer-item"> <a class="footer-link" href="#" title="dumb">Legal</a> </li>
                                </ul>
                        </dd>
                        <dt>
                                More
                        </dt>
                        <dd>
                                <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Phasellus consequat leo lectus.
                                </p>
                        </dd>
                    {% endblock %}
                </dl>


                <!-- 2nd Col   -->
                <dl class="footer-content">
                    {% block footer_list_2 %}
                        <dt>
                                <a class="footer-link-main">Footer Links</a>
                        </dt>
                        <dd>
                        <ul class="footer-links">
                                <li class="footer-item"> <a class="footer-link" href="#" title="dumb">Item A Long Name</a> </li>
                                <li class="footer-item"> <a class="footer-link" href="#" title="dumb">Item B shorter</a> </li>
                                <li class="footer-item"> <a class="footer-link" href="#" title="dumb">Item C Very Very Long Long Name</a> </li>
                                <li class="footer-item"> <a class="footer-link" href="#" title="dumb">Item D Normal</a> </li>
                                <li class="footer-item"> <a class="footer-link" href="#" title="dumb">Item E Lit</a> </li>
                                <li class="footer-item"> <a class="footer-link" href="#" title="dumb">Item F</a> </li>
                        </ul>
                        </dd>
                    {% endblock %}
                </dl>



                <!-- 3rd Col   -->
                <dl class="footer-content" >
                    {% block footer_list_3 %}
                        <dt>
                                <a class="footer-link-main">Footer Links</a>
                        </dt>
                        <dd>
                        <ul class="footer-links" >
                                <li class="footer-item">  <a class="footer-link" href="#" title="dumb">Item I Normal</a></li>
                                <li class="footer-item">  <a class="footer-link" href="#" title="dumb">Item II </a></li>
                                <li class="footer-item">  <a class="footer-link" href="#" title="dumb">Item III Very Very Long Long Name</a> </li>
                                <li class="footer-item">  <a class="footer-link" href="#" title="dumb">Item IV </a></li>
                                <li class="footer-item">  <a class="footer-link" href="#" title="dumb">Item V </a></li>
                                <li class="footer-item">  <a class="footer-link" href="#" title="dumb">Item VI Normal</a> </li>
                        </ul>
                        </dd>
                    {% endblock %}
                </dl>


                <details class="foot-note">
                        {% block footer_note %}<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lectus massa. </p>{% endblock %}
                </details>
                {% endblock %}
                </div>
        </footer>

        {% endif %}

    <script src="{% static "ubuntu_website/js/loader.js" %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static "ubuntu_website/js/polyfills/IE9/IE9.js" %}">IE7_PNG_SUFFIX=".png";</script>
        <script src="{% static "ubuntu_website/js/polyfills/IE9/squish.js" %}"></script>
    <![endif]-->
    {% block closure %}{% endblock %}
</div>
</body>
</html>
