{% load i18n future %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block defaulthead %}{% block defaultmeta %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1" />{% endblock %}
  {% block extrameta %}{% endblock %}
  <title>{% block title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

  {% block defaultstyles %}
  <link rel="shortcut icon" href="{{ ubuntu_website_media|default:'/static/ubuntu' }}/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Ubuntu" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ubuntu_website_media|default:'/static/ubuntu'}}/css/material.min.css" rel="stylesheet">
  <link href="{{ubuntu_website_media|default:'/static/ubuntu'}}/css/ripples.min.css" rel="stylesheet">
  <link href="{{ubuntu_website_media|default:'/static/ubuntu'}}/css/main.css" rel="stylesheet">
  {% endblock %}
  {%block extrastyles %}{% endblock %}

  {% block defaultheadjs %}
  <script>var website_assets="{{ubuntu_website_media|default:'/static/ubuntu'}}";</script>{% endblock %}
  {% endblock %}
  {% block extrahead %}{% endblock %}
{% load analytics %}
{% analytics %}
</head>
<body>
{% if not is_popup %}
{% block top_nav %}
<header class="banner global" role="banner">
    <nav role="navigation" class="nav-primary nav-right">
        <div class="logo">
            <a class="logo-ubuntu" href="/">
                <img src="{{ubuntu_website_media|default:'/static/ubuntu'}}/images/logo-main.png" alt="Ubuntu Azerbaijan Logo" height="36" width="36">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a id="blog" href="/blog/" {% if request.path == "/blog/" %}class="active"{% endif %}>{% trans "Blog" %}</a></li>
            <li><a id="ask" href="http://ask.ubuntu-az.org/">{% trans "Ask" %}</a></li>
            <li><a id="about" href="/about/">{% trans "About"%}</a></li>
            <li><a id="products" href="#">{% trans "Products" %}</a></li>
            <li><a id="download" href="#">{% trans "Download" %}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form navbar-right">
                    <input class="form-control col-lg-8" placeholder="Search" type="text">
                </form>
            </li>
            {% comment %}
            <li>
                <a id="nav-askquestion" href="">Ask Question</a>
            </li>
            {% endcomment %}
        </ul>
    </nav>
</header>
{% endblock %}
{% endif %}

{% block messages %}{% endblock %}

{% block content %}{% endblock %}

{% block general %}{% endblock %}

{% if not is_popup %}
<footer id="footer" class="global clearfix no-global twelve-col">
  <div class="legal clearfix">
    <p class="twelve-col">
        Ubuntu and Canonical are registered trademarks of Canonical Ltd.
    </p>
    <ul class="inline clear">
        <li>
            <a href="http://www.ubuntu-az.org">&copy; 2015 Ubuntu Azerbaijan LoCo</a>
        </li>
    </ul>
  </div>
</footer>
{% endif %}
<!-- Javascripts -->
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="{{ubuntu_website_media|default:'/static/ubuntu'}}/js/ripples.min.js"></script>
<script src="{{ubuntu_website_media|default:'/static/ubuntu'}}/js/material.min.js"></script>
{% block javascript %}{% endblock %}
<script>
    $(document).ready(function() {
        $.material.init();
    });
</script>
<!-- /Javascripts -->
<!--<script src="{{ubuntu_website_media|default:'/static/ubuntu'}}/js/loader.js"></script>-->
{% block closure %}{% endblock %}
</div>
</body>
</html>
