{% extends "website_base.html" %}

{% block title %}Ana Səhifə - Ubuntu Azərbaycan{% endblock %}

{% block logo_text %}Ubuntu Azerbaijan{% endblock %}

{% block extrahead %}
{% endblock %}

{% block main_nav_links %}
{% endblock %}

{% block sub_nav_links %}
Navigation buttons here
{% endblock %}

{% block content %}
content will be here
{% endblock %}

{% block general %}
{% endblock %}

{% block footer_list_1 %}
{% endblock %}

{% block footer_list_2 %}
Ubuntu və Canonical Canonical Ltd.-nin qeydə alınmış əmtəə nişanlarıdır.
{% endblock %}

{% block footer_list_3 %}
{% endblock %}

{% block footer_note %}
<p>&copy; 2015 Ubuntu Azerbaijan Community
</p>
{% endblock %}
